<app-navigation></app-navigation>
<p class="display-4 page-title text-center">Ticket Details</p>
<div class="col-md-6 offset-md-3">
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="table-dark">
                <tr>
                <th>Property</th>
                <th>Value</th>
                </tr> 
            </thead>
            <tr>
            <td>Ticket ID</td>
            <td>{{ticketRequest.request_id}}</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>{{ticketRequest.requestType}}</td>
            </tr>
            <tr>
                <td>Priority</td>
                <td>{{ticketRequest.requestPriority}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{ticketRequest.requestStatus}}</td>
            </tr>
            <tr>
                <td>Origin City</td>
                <td>{{ticketRequest.origin_city.name}}</td>
            </tr>
            <tr>
                <td>Destination City</td>
                <td>{{ticketRequest.destination_city.name}}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{{ticketRequest.start_date}}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{ticketRequest.end_date}}</td>
            </tr>
            <tr>
                <td>Passport Number</td>
                <td>{{ticketRequest.passport_number}}</td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td>{{ticketRequest.project_name}}</td>
            </tr>
            <tr>
                <td>Expense Handler</td>
                <td>{{ticketRequest.expense_handler}}</td>
            </tr>
            <tr>
                <td>Travel Approver</td>
                <td>{{ticketRequest.travel_approver}}</td>
            </tr>
            <tr>
                <td>Travel Duration</td>
                <td>{{ticketRequest.travel_duration}}</td>
            </tr>
            <tr>
                <td>Amount Limit</td>
                <td>{{ticketRequest.amount_limit}}</td>
            </tr>
            <tr>
                <td>Additional Details</td>
                <td>{{ticketRequest.additional_details}}</td>
            </tr>
            <tr>
                <td>Admin Remarks</td>
                <td>{{ticketRequest.admin_remarks}}</td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>{{ticketRequest.lastUpdated}}</td>
            </tr>
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">Raised By</th>
                </tr>
            </thead>
            <tr>
                <td>Employee ID</td>
                <td>{{ticketRequest.ref_employee.emp_id}}</td>
            </tr>
            <tr>
                <td>Employee Name</td>
                <td>{{ticketRequest.ref_employee.firstname}} {{ticketRequest.ref_employee.lastname}}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-warning" style="font-weight:bolder;margin-left: 10px;" (click)="printPage()">Print Ticket</button>
</div>