<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3" style="padding:50px 0px 50px 0px;">
    <p class="display-4 page-title">Edit Ticket</p>
    
    <form #editTicketForm="ngForm" (ngSubmit)="onSubmit(editTicketForm)" novalidate>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="request_type">Request Type</label>
          <div class="col-sm-8">
            <select class="custom-select form-control" [(ngModel)]="ticketRequest.requestType" name="request_type" id="request_type"> 
                <option *ngFor="let rqType of keys(requestType)" [ngValue]="rqType">{{requestType[rqType]}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4" for="request_priority">Request Priority</label>
            <div class="col-sm-8">
              <select class="custom-select form-control" [(ngModel)]="ticketRequest.requestPriority" name="request_priority" id="request_priority"> 
                  <option *ngFor="let priority of keys(requestPriority)" [ngValue]="priority">{{requestPriority[priority]}}</option>
              </select>
            </div>
          </div>
          <fieldset>
            <legend>Origin City Details</legend>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="country1">Country</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="country1" id="country1" (change)="onChangeCountry(country1select.value,country1select.name)" #country1select >
                        <option [ngValue]="ticketRequest.origin_city.ref_region.ref_country" selected>{{ticketRequest.origin_city.ref_region.ref_country.name}}</option>
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="region1">Region/State</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="region1" id="region1" (change)="onChangeRegion(region1select.value,region1select.name)" #region1select >
                        <option *ngIf="showDBRegion1" [ngValue]="ticketRequest.origin_city.ref_region" selected>{{ticketRequest.origin_city.ref_region.name}}</option>
                        <option *ngFor="let region of regions1" [value]="region.id">{{region.name}}</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-sm-4" for="city1">City/Area</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="city1" id="city1" #city1select>
                        <option *ngIf="showDBCity1" [ngValue]="ticketRequest.origin_city" selected>{{ticketRequest.origin_city.name}}</option>
                        <option *ngFor="let city of cities1" [ngValue]="city">{{city.name}}</option>
                    </select>
                </div>
              </div>
          </fieldset>
          <fieldset>
            <legend>Destination City Details</legend>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="country2">Country</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="country2" id="country2" (change)="onChangeCountry(country2select.value,country2select.name)" #country2select >
                      <option [ngValue]="ticketRequest.destination_city.ref_region.ref_country" selected>{{ticketRequest.destination_city.ref_region.ref_country.name}}</option>
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="region2">Region/State</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="region2" id="region2" (change)="onChangeRegion(region2select.value,region2select.name)" #region2select >
                        <option *ngIf="showDBRegion2" [ngValue]="ticketRequest.destination_city.ref_region" selected>{{ticketRequest.destination_city.ref_region.name}}</option>
                        <option *ngFor="let region of regions2" [value]="region.id">{{region.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="city2">City/Area</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="city2" id="city2" #city2select>
                        <option *ngIf="showDBCity2" [ngValue]="ticketRequest.destination_city" selected>{{ticketRequest.destination_city.name}}</option>
                        <option *ngFor="let city of cities2" [ngValue]="city">{{city.name}}</option>
                    </select>
                </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="start_date">Travel Start Date</label>
            <div class="col-sm-8">
              <input type="date" ngModel class="form-control" name="start_date" id="start_date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="end_date">Travel End Date</label>
            <div class="col-sm-8">
              <input type="date" ngModel class="form-control" name="end_date" id="end_date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="passport_number">Passport Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.passport_number" name="passport_number" id="passport_number" maxlength="25">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="project_name">Project Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.project_name" name="project_name" id="project_name" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="expense_handler">Expense Borne By</label>
            <div class="col-sm-8">
              <select class="custom-select form-control" [(ngModel)]="ticketRequest.expense_handler" name="expense_handler" id="expense_handler"> 
                  <option *ngFor="let expense of keys(expenseHandler)" [ngValue]="expense">{{expenseHandler[expense]}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="travel_approver">Travel Approver</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.travel_approver" name="travel_approver" id="travel_approver" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="travel_duration">Travel Duration</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.travel_duration" name="travel_duration" id="travel_duration" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="amount_limit">Max. Allowed Amount</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.amount_limit" name="amount_limit" id="amount_limit" maxlength="500">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="additional_details">Additional Details</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" [(ngModel)]="ticketRequest.additional_details" name="additional_details" id="additional_details" maxlength="1000">
            </div>
          </div>
          <button type="submit" [disabled]="!editTicketForm.valid" class="btn btn-primary" id="submitBtn">Submit</button>
          <button type="reset" class="btn btn-warning" id="resetBtn">Reset</button>
    </form>
</div>