<app-navigation></app-navigation>
<p class="display-4">Admin Actions for Ticked Id: {{id}}</p>
<form #adminActionForm="ngForm" (ngSubmit)="onSubmit(adminActionForm)" novalidate>
    <div class="form-group row mb-3">
        <label class="col-form-label col-sm-4" for="request_status">Request Status</label>
        <div class="col-sm-8">
          <select class="custom-select form-control" ngModel name="request_status" id="request_status"> 
              <option *ngFor="let status of keys(requestStatus)" [ngValue]="status">{{requestStatus[status]}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-form-label col-sm-4" for="admin_remarks">Remarks</label>
        <div class="col-sm-8">
          <textarea class="form-control" ngModel name="admin_remarks" id="admin_remarks" rows="5" maxlength="1000"> 
          </textarea>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-form-label col-sm-4" for="document">Upload Document</label>
        <div class="col-sm-8">
            <input type="file" class="form-control" id="document" ngModel  name="document">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-form-label col-sm-4" for="document_name">Document Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="document_name" ngModel  name="document_name">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label class="col-form-label col-sm-4" for="description">Document Description</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="description" ngModel  name="description">
        </div>
      </div>
      <button type="submit" class="btn btn-success">Save changes</button>
  </form>