<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3">
<p class="display-4 login-title">Log In</p>
<div class="d-flex justify-content-center mb-3">
  <div #loadinguser>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
<div *ngIf="servererror" class="error">
  Invalid Credentials. Please Try again.
</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="mb-3" novalidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="email" class="form-control" id="username" ngModel placeholder="john@nagarro.com"  #ctrlusername="ngModel" name="username" required pattern="[a-zA-Z0-9_\.\+-]+@nagarro\.com$">
      <div *ngIf="ctrlusername.invalid && (ctrlusername.dirty || ctrlusername.touched)"
    class="error">
        <div *ngIf="ctrlusername.errors.required">
          Username is required.
        </div>
        <div *ngIf="ctrlusername.errors.pattern">
          Wrong username format.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ngModel  #ctrlpassword="ngModel" name="password" required>
      <div *ngIf="ctrlpassword.invalid && (ctrlpassword.dirty || ctrlpassword.touched)"
    class="error">
        <div *ngIf="ctrlpassword.errors.required">
          Password is required.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-warning" id="resetBtn" (click)="removeServerError()">Reset</button>
  </form>
  <button (click)="forgotCredentials()" class="btn btn-outline-info btn-sm" id="credentialsBtn">Forgot Credentials?</button>
</div>