<app-navigation></app-navigation>
<div class="row align-items-center dashboard-header">
    <div class="col">
        <p class="header-text text-center">Employee Dashboard</p>
    </div>
</div>
<hr/>
<div class="row">
    <p class="display-4 text-center features-title">Features</p>
</div>
<div class="row align-items-center" style="height: 30vh;">
    <div class="col feature-card">
        <a routerLink="/listtickets"><p class="text-center">View Tickets</p></a>
    </div>
    <div class="col feature-card">
        <a routerLink="/raiseticket"><p class="text-center">Raise A Ticket</p></a>
    </div>
    <div class="col feature-card">
        <a routerLink="/profile"><p class="text-center">Profile</p></a>
    </div>
</div>
