.dashboard-header {
  background: linear-gradient(to right, #eecda3, #ef629f);
  /* height: 20vh; */
  /* object-fit: cover; */
  height: 50vh;
}
.header-text {
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
  font-size: 36pt;
}
.features-title {
  font-family: "Lobster", cursive;
  color: rgb(252, 204, 36);
  font-size: 36pt;
}
.feature-card {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  padding: 25px 0 25px 0;
  margin: 20px;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24pt;
  box-shadow: 5px 5px 30px #b6b6b6;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.5s ease;
}
a:hover {
  color: rgb(247, 165, 59);
}
