label {
  font-size: 12pt;
  color: #008cba;
}

.error {
  font-size: small;
  color: red;
}
.page-title {
  color: rgb(206, 206, 72);
  font-size: 35pt;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(206, 206, 72);
}
#resetBtn {
  margin-left: 10px;
}
#credentialsBtn {
  font-weight: bold;
}
fieldset {
  border-bottom: 2px solid rgb(206, 206, 72);
  margin: 15px 0px 15px 0px;
}
legend {
  font-size: 14pt;
  color: rgb(145, 121, 15);
  border-top: 2px solid rgb(206, 206, 72);
}
#chart {
  max-width: 650px;
  margin: 35px auto;
}
