<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3" style="padding:50px 0px 50px 0px;">
    <p class="display-4 page-title">Raise a new Ticket</p>
    
    <form #raiseTicketForm="ngForm" (ngSubmit)="onSubmit(raiseTicketForm)" novalidate>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="request_type">Request Type</label>
          <div class="col-sm-8">
            <select class="custom-select form-control" ngModel name="request_type" id="request_type"> 
                <option *ngFor="let rqType of keys(requestType)" [ngValue]="rqType">{{requestType[rqType]}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4" for="request_priority">Request Priority</label>
            <div class="col-sm-8">
              <select class="custom-select form-control" ngModel name="request_priority" id="request_priority"> 
                  <option *ngFor="let priority of keys(requestPriority)" [ngValue]="priority">{{requestPriority[priority]}}</option>
              </select>
            </div>
          </div>
          <fieldset>
            <legend>Origin City Details</legend>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="country1">Country</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="country1" id="country1" (change)="onChangeCountry(country1select.value,country1select.name)" #country1select >
                        <option [value]="null" disabled selected>Select Country</option>
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="showRegions1" class="form-group row">
                <label class="col-form-label col-sm-4" for="region1">Region/State</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="region1" id="region1" (change)="onChangeRegion(region1select.value,region1select.name)" #region1select >
                        <option [value]="null" disabled selected>Select Region/State</option>
                        <option *ngFor="let region of regions1" [value]="region.id">{{region.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="showCities1" class="form-group row">
                <label class="col-form-label col-sm-4" for="city1">City/Area</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" [(ngModel)]="selectedCity1" name="city1" id="city1" (change)="onChangeCity(registerForm)" #city1select>
                        <option [value]="null" disabled selected>Select City/Area</option>
                        <option *ngFor="let city of cities1" [ngValue]="city">{{city.name}}</option>
                    </select>
                </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Destination City Details</legend>
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="country2">Country</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" [(ngModel)]="selectedCountry" name="country2" id="country2" (change)="onChangeCountry(selectedCountry,country2select.name)" #country2select >
                        <option [value]="null" disabled selected>Select Country</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="showCovidResponse" class="covid-details" id="chart">
              <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis"
              [xaxis]="chartOptions.xaxis"
              [fill]="chartOptions.fill"
              [title]="chartOptions.title"
            ></apx-chart>
            </div>
            <div *ngIf="showRegions2" class="form-group row">
                <label class="col-form-label col-sm-4" for="region2">Region/State</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" name="region2" id="region2" (change)="onChangeRegion(region2select.value,region2select.name)" #region2select >
                        <option [value]="null" disabled selected>Select Region/State</option>
                        <option *ngFor="let region of regions2" [value]="region.id">{{region.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="showCities2" class="form-group row">
                <label class="col-form-label col-sm-4" for="city2">City/Area</label>
                <div class="col-sm-8">
                    <select class="custom-select form-control" [(ngModel)]="selectedCity2" name="city2" id="city2" (change)="onChangeCity(editEmployeeForm)" #city2select>
                        <option [value]="null" disabled selected>Select City/Area</option>
                        <option *ngFor="let city of cities2" [ngValue]="city">{{city.name}}</option>
                    </select>
                </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="start_date">Travel Start Date</label>
            <div class="col-sm-8">
              <input type="date" ngModel class="form-control" name="start_date" id="start_date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="end_date">Travel End Date</label>
            <div class="col-sm-8">
              <input type="date" ngModel class="form-control" name="end_date" id="end_date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="passport_number">Passport Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="passport_number" id="passport_number" maxlength="25">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="project_name">Project Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="project_name" id="project_name" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="expense_handler">Expense Borne By</label>
            <div class="col-sm-8">
              <select class="custom-select form-control" ngModel name="expense_handler" id="expense_handler"> 
                  <option *ngFor="let expense of keys(expenseHandler)" [ngValue]="expense">{{expenseHandler[expense]}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="travel_approver">Travel Approver</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="travel_approver" id="travel_approver" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="travel_duration">Travel Duration</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="travel_duration" id="travel_duration" maxlength="100">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="amount_limit">Max. Allowed Amount</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="amount_limit" id="amount_limit" maxlength="500">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="additional_details">Additional Details</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ngModel name="additional_details" id="additional_details" maxlength="1000">
            </div>
          </div>
          <button type="submit" [disabled]="!raiseTicketForm.valid" class="btn btn-primary" id="submitBtn">Submit</button>
          <button type="reset" class="btn btn-warning" id="resetBtn">Reset</button>
    </form>
</div>