label {
  font-size: 12pt;
  color: #008cba;
}

.error {
  font-size: small;
  color: red;
}
.page-title {
  color: rgb(206, 206, 72);
  font-size: 35pt;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(206, 206, 72);
}
#resetBtn {
  margin-left: 10px;
}
#credentialsBtn {
  font-weight: bold;
}
