<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3" style="padding:50px 0px 50px 0px;">
    <p class="display-4 page-title">Edit Profile</p>
    
    <form #editEmployeeForm="ngForm" (ngSubmit)="onSubmit(editEmployeeForm)" novalidate>
        <div class="form-group row">
          <label class="col-form-label col-sm-4" for="firstname">First Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="firstname" [(ngModel)]="localEmployeeForm.firstname"  name="firstname"  #ctrlfirstname="ngModel" required>
          </div>
          <div *ngIf="ctrlfirstname.invalid && (ctrlfirstname.dirty || ctrlfirstname.touched)"
        class="error col-sm-8 offset-sm-4">
            <div *ngIf="ctrlfirstname.errors.required">
              First Name is required.
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4" for="lastname">Last Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" id="lastname" [(ngModel)]="localEmployeeForm.lastname" #ctrllastname="ngModel" name="lastname" required>
        </div>
            <div *ngIf="ctrllastname.invalid && (ctrllastname.dirty || ctrllastname.touched)"
          class="error col-sm-8 offset-sm-4">
              <div *ngIf="ctrllastname.errors.required">
                Last Name is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="businessunit">Business Unit</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" id="businessunit" [(ngModel)]="localEmployeeForm.businessunit"  #ctrlbusinessunit="ngModel" name="businessunit" required>
        </div>
            <div *ngIf="ctrlbusinessunit.invalid && (ctrlbusinessunit.dirty || ctrlbusinessunit.touched)"
          class="error col-sm-8 offset-sm-4">
              <div *ngIf="ctrlbusinessunit.errors.required">
                Business Unit is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="jobtitle">Job Title</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" id="jobtitle" [(ngModel)]="localEmployeeForm.jobtitle"  #ctrljobtitle="ngModel" name="jobtitle" required>
        </div>
            <div *ngIf="ctrljobtitle.invalid && (ctrljobtitle.dirty || ctrljobtitle.touched)"
          class="error col-sm-8 offset-sm-4">
              <div *ngIf="ctrljobtitle.errors.required">
                Job Title is required.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="email">E-mail Address</label>
            <div class="col-sm-8">
            <input type="email" class="form-control" id="email" [(ngModel)]="localEmployeeForm.email"  #ctrlemail="ngModel" name="email" required pattern="[a-zA-Z0-9_\.\+-]+@nagarro\.com$">
            </div>
            <div *ngIf="ctrlemail.invalid && (ctrlemail.dirty || ctrlemail.touched)"
          class="error col-sm-8 offset-sm-4">
              <div *ngIf="ctrlemail.errors.required">
                E-mail Address is required.
              </div>
              <div *ngIf="ctrlemail.errors.pattern">
                Wrong E-mail Address pattern.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-4" for="telephone">Telephone Number</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" id="telephone" [(ngModel)]="localEmployeeForm.telephone"  #ctrltelephone="ngModel" name="telephone" required pattern="^[a-zA-Z0-9]+$" maxlength="15">
        </div>
            <div *ngIf="ctrltelephone.invalid && (ctrltelephone.dirty || ctrltelephone.touched)"
          class="error col-sm-8 offset-sm-4">
              <div *ngIf="ctrltelephone.errors.required">
                Telephone Number is required.
              </div>
              <div *ngIf="ctrltelephone.errors.pattern">
                Telephone Number can only have Alphabets and Numbers.
              </div>
              <div *ngIf="ctrltelephone.errors.maxlength">
                Telephone Number can only have 15 characters.
              </div>
            </div>
          </div>
              <fieldset>
                <legend>Primary Address</legend>
                <div class="d-flex justify-content-center mb-3">
                    <div #primaryaddressspinner>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="addressline1">Address Line</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="addressline1" [(ngModel)]="localEmployeeForm.addressline1"  #ctrladdressline1="ngModel" name="addressline1" required>
                    </div>
                    <div *ngIf="ctrladdressline1.invalid && (ctrladdressline1.dirty || ctrladdressline1.touched)"
                class="error col-sm-8 offset-sm-4">
                        <div *ngIf="ctrladdressline1.errors.required">
                            Address Line is required.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="country1">Country</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" name="country1" id="country1" (change)="onChangeCountry(country1select.value,country1select.name)" #country1select >
                            <option [value]="null" disabled selected>Select Country</option>
                            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="showRegions1" class="form-group row">
                    <label class="col-form-label col-sm-4" for="region1">Region/State</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" name="region1" id="region1" (change)="onChangeRegion(region1select.value,region1select.name)" #region1select >
                            <option [value]="null" disabled selected>Select Region/State</option>
                            <option *ngFor="let region of regions1" [value]="region.id">{{region.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="showCities1" class="form-group row">
                    <label class="col-form-label col-sm-4" for="city1">City/Area</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" [(ngModel)]="selectedCity1" name="city1" id="city1" (change)="onChangeCity(editEmployeeForm)" #city1select>
                            <option [value]="null" disabled selected>Select City/Area</option>
                            <option *ngFor="let city of cities1" [ngValue]="city">{{city.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="zipcode1">Zipcode</label>
                    <div class="col-sm-8">
                    <input type="text" class="form-control" id="zipcode1" [(ngModel)]="localEmployeeForm.zipcode1" #ctrlzipcode1="ngModel" name="zipcode1" required>
                </div>
                    <div *ngIf="ctrlzipcode1.invalid && (ctrlzipcode1.dirty || ctrlzipcode1.touched)"
                  class="error col-sm-8 offset-sm-4">
                      <div *ngIf="ctrlzipcode1.errors.required">
                        Zipcode is required.
                      </div>
                    </div>
                  </div>
              </fieldset>
              <div class="form-group">
                    <input type="checkbox" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="secondary-address-chk" (change)="toggleSecondaryAddress($event)" #chkSecondaryAddress ngModel name="secondary-address-chk"/>
                    <label for="secondary-address-chk" id="secondary-address-chk-label">Add Secondary Address</label>
              </div>
              <fieldset id="collapseOne" aria-expanded="false" class="collapse">
                <legend>Secondary Address</legend>
                <div class="d-flex justify-content-center mb-3">
                    <div #secondaryaddressspinner>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only"></span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only"></span>
                      </div>
                    </div>
                  </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="addressline2">Address Line</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="addressline2" [(ngModel)]="localEmployeeForm.addressline2" name="addressline2" #ctrladdressline2="ngModel">
                    </div>
                        <!-- <div *ngIf="ctrladdressline2.invalid && (ctrladdressline2.dirty || ctrladdressline2.touched)"
                    class="error col-sm-8 offset-sm-4">
                            <div *ngIf="ctrladdressline2.errors.required">
                                Address Line is required.
                            </div>
                        </div> -->
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="country2">Country</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" name="country2" id="country2" (change)="onChangeCountry(country2select.value,country2select.name)" #country2select >
                            <option [value]="null" disabled selected>Select Country</option>
                            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="showRegions2" class="form-group row">
                    <label class="col-form-label col-sm-4" for="region2">Region/State</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" name="region2" id="region2" (change)="onChangeRegion(region2select.value,region2select.name)" #region2select >
                            <option [value]="null" disabled selected>Select Region/State</option>
                            <option *ngFor="let region of regions2" [value]="region.id">{{region.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="showCities2" class="form-group row">
                    <label class="col-form-label col-sm-4" for="city2">City/Area</label>
                    <div class="col-sm-8">
                        <select class="custom-select form-control" [(ngModel)]="selectedCity2" name="city2" id="city2" (change)="onChangeCity(editEmployeeForm)" #city2select>
                            <option [value]="null" disabled selected>Select City/Area</option>
                            <option *ngFor="let city of cities2" [ngValue]="city">{{city.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="zipcode2">Zipcode</label>
                    <div class="col-sm-8">
                    <input type="text" class="form-control" id="zipcode2" [(ngModel)]="localEmployeeForm.zipcode2" name="zipcode2" #ctrlzipcode2="ngModel">
                </div>
                    <!-- <div *ngIf="ctrlzipcode2.invalid && (ctrlzipcode2.dirty || ctrlzipcode2.touched)"
                  class="error col-sm-8 offset-sm-4">
                      <div *ngIf="ctrlzipcode2.errors.required">
                        Zipcode is required.
                      </div>
                    </div> -->
                  </div>
              </fieldset>
              
        <button type="submit" [disabled]="!editEmployeeForm.valid" class="btn btn-primary" id="submitBtn">Submit</button>
        <button type="reset" class="btn btn-warning" id="resetBtn" (click)="removeServerError()">Reset</button>
      </form>
      <div *ngIf="servererror" class="error mb-3">
        There was a problem while editing your profile. Please try again.
      </div>
      <div class="d-flex justify-content-center mb-3">
        <div #loadinguser>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only"></span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only"></span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only"></span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div>