<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><span class="yellow-logo">Hop</span><span class="blue-logo">Sphere</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div *ngIf="showLoginRegister; then loginregisterTemplate else dashboardTemplate"></div>
        <ng-template #loginregisterTemplate>
            <li  class="nav-item"><a class="nav-link" routerLink="/login">Log in</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
        </ng-template>
        <ng-template #dashboardTemplate>
          <div *ngIf="showAdminTemplate; then adminTemplate else employeeTemplate"></div>
              <ng-template #adminTemplate>
                      <li  class="nav-item"><a class="nav-link" routerLink="/alltickets">All Tickets</a></li>
                      <li  class="nav-item"><a class="nav-link" routerLink="/activetickets">Active Tickets</a></li>
                      <li class="nav-item"><a class="nav-link" style="cursor:pointer;" (click)="logOut()">Log Out</a></li>
              </ng-template>
              <ng-template #employeeTemplate>
            <!-- <li  class="nav-item"><a class="nav-link" routerLink="/raiseticket">Raise Ticket</a></li>
            <li  class="nav-item"><a class="nav-link" routerLink="/listtickets">View Tickets</a></li>
            <li  class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li> -->
            <li  class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
            <li  class="nav-item"><a class="nav-link" style="cursor:pointer;" (click)="logOut()">Log Out</a></li>
          </ng-template>
        </ng-template>
      </ul>
      </div>
    </nav>