<app-navigation></app-navigation>
<img src="/assets/images/5.jpg" alt="Snow" style="width:100%; height:85vh;object-fit: cover;">
<div class="centered">
    <div class="centered-text">
        <p class="main-text-normal text-center">Welcome to</p>
        <p class="main-text-logo"><span class="yellow-text">Hop</span><span class="blue-text">Sphere</span></p>
        <p class="text-center main-text-small"><small>A Travel Portal by Nagarro</small></p>
        <div class="buttons text-center">
            <button class="btn" (click)="getStarted()">Get Started</button>
        </div>
    </div>
</div>
<hr/>
<div class="row align-items-center">
    <div class="col-4"><p class="h2 text-center title-text">Services</p></div>
    <div class="col-8">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Work Permits</li>
            <li class="list-group-item">Visas</li>
            <li class="list-group-item">Travel Tickets</li>
            <li class="list-group-item">Hotel Stays</li>
          </ul>
    </div>
</div>
<hr/>