.image-title {
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-text {
  background-color: rgba(255, 255, 255, 0.801);
  padding: 20px;
}
.btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #9da0c4, #727ace);
}
.main-text-normal {
  font-size: 24pt;
  color: rgb(252, 204, 36);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-style: italic;
}
.main-text-logo {
  font-family: "Monoton", cursive;
  font-size: 36pt;
}
.yellow-text {
  color: rgb(252, 204, 36);
}
.blue-text {
  color: rgb(4, 156, 220);
}
.main-text-small {
  color: rgb(4, 156, 220);
}
.title-text {
  font-family: "Lobster", cursive;
  color: rgb(252, 204, 36);
  font-size: 36pt;
}
.list-group-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(4, 156, 220);
}
