.card-text {
  font-size: small;
}
.card {
  transition: background-color 0.3s ease;
  margin: 3em;
  background-color: rgb(248, 242, 213);
}
.page-title {
  color: rgb(206, 206, 72);
  font-size: 35pt;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(206, 206, 72);
  padding: 30px;
}
.card-header {
  font-weight: bolder;
  color: rgb(100, 100, 11);
}
.card:hover {
  background-color: rgb(241, 230, 175);
}
.card-footer {
  font-weight: bolder;
  font-style: italic;
  color: rgb(100, 100, 11);
}
.btn {
  font-weight: bold;
}
