<app-navigation></app-navigation>
<p class="display-4 page-title text-center">Active Tickets</p>
<div class="row justify-content-center">
  <div class="col-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
      <div class="card text-center"  *ngFor='let ticket of tickets | paginate: { itemsPerPage: 5, currentPage: p}'>
        <div class="card-header">
          Ticket ID: {{ticket.request_id}}
        </div>
        <div class="card-body">
            <p class="card-text blog-categories">Raised by: {{ticket.ref_employee.firstname+" "+ticket.ref_employee.lastname}}</p>
            <p class="card-text">Status: {{ticket.requestStatus}}</p>
              <a routerLink="/ticketdetail/{{ticket.request_id}}" class="btn btn-primary btn-sm" target="_blank">View</a>
              <a routerLink="/adminaction/{{ticket.request_id}}" class="btn btn-warning btn-sm" target="_blank">Actions</a>
          </div>
          <div class="card-footer">
            Last updated on {{ticket.lastUpdated}}
          </div>
      </div>
<div class="row justify-content-center">
  <div class="col-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>