<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3">
    <p class="display-4 page-title">Profile</p>
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead class="table-dark">
                <tr>
                <th>Property</th>
                <th>Value</th>
                </tr> 
            </thead>
            <tr>
            <td>Name</td>
            <td>{{employee.firstname+" "+employee.lastname}}</td>
            </tr>
            <tr>
                <td>Business Unit</td>
                <td>{{employee.businessunit}}</td>
            </tr>
            <tr>
                <td>Job Title</td>
                <td>{{employee.jobtitle}}</td>
            </tr>
            <tr>
                <td>E-mail Address</td>
                <td>{{employee.email}}</td>
            </tr>
            <tr>
                <td>Telephone Number</td>
                <td>{{employee.telephone}}</td>
            </tr>
            <thead class="table-secondary">
                <tr>
                    <th colspan="2">Primary Address Details</th>
                </tr>
            </thead>
            <tr>
                <td>Address Line</td>
                <td>{{employee.primaryaddress.addressLine}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{employee.primaryaddress.city}}</td>
            </tr>
            <tr>
                <td>State</td>
                <td>{{employee.primaryaddress.state}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{employee.primaryaddress.country}}</td>
            </tr>
            <tr>
                <td>Zipcode</td>
                <td>{{employee.primaryaddress.zipcode}}</td>
            </tr>
            <thead *ngIf="showSecondaryAddress" class="table-secondary">
                <tr>
                    <th colspan="2">Secondary Address Details</th>
                </tr>
            </thead>
            <tr *ngIf="showSecondaryAddress">
                <td>Address Line</td>
                <td>{{employee.secondaryaddress.addressLine}}</td>
            </tr>
            <tr *ngIf="showSecondaryAddress">
                <td>City</td>
                <td>{{employee.secondaryaddress.city}}</td>
            </tr>
            <tr *ngIf="showSecondaryAddress">
                <td>State</td>
                <td>{{employee.secondaryaddress.state}}</td>
            </tr>
            <tr *ngIf="showSecondaryAddress">
                <td>Country</td>
                <td>{{employee.secondaryaddress.country}}</td>
            </tr>
            <tr *ngIf="showSecondaryAddress">
                <td>Zipcode</td>
                <td>{{employee.secondaryaddress.zipcode}}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-info" style="font-weight:bolder" (click)="editProfile()">Edit Profile</button>
    <button class="btn btn-warning" style="font-weight:bolder;margin-left: 10px;" (click)="printPage()">Print</button>
    <button *ngIf="showLogin" class="btn btn-secondary" style="font-weight:bolder;margin-left: 10px;" (click)="goToLogin()">Log In</button>
</div>