<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3">
    <p class="display-4 page-title">Forgot Credentials</p>
    <div *ngIf="servererror" class="error">
        This e-mail does not exist in our database. Please try again.
      </div>
    <form #forgotCredentialsForm="ngForm" (ngSubmit)="onSubmit(forgotCredentialsForm)" class="mb-3" novalidate>
        <div class="form-group">
          <label for="email">E-mail Address</label>
          <input type="email" class="form-control" id="email" ngModel placeholder="john@nagarro.com"  #ctrlemail="ngModel" name="email" required pattern="[a-zA-Z0-9_\.\+-]+@nagarro\.com$">
          <div *ngIf="ctrlemail.invalid && (ctrlemail.dirty || ctrlemail.touched)"
        class="error">
            <div *ngIf="ctrlemail.errors.required">
              E-mail is required.
            </div>
            <div *ngIf="ctrlemail.errors.pattern">
              Wrong E-mail format.
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div #gettingcredentials>
              <div class="spinner-grow text-success" role="status">
                <span class="sr-only"></span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="sr-only"></span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="sr-only"></span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        <button type="submit" [disabled]="!forgotCredentialsForm.valid" class="btn btn-primary">Submit</button>
      </form>
</div>
