label {
  font-size: 12pt;
  color: #008cba;
}
legend {
  font-weight: bolder;
  color: #008cba;
  border-bottom: 1.5px dotted rgb(206, 206, 72);
  margin-bottom: 15px;
}
.error {
  font-size: small;
  color: red;
}
.register-title {
  color: rgb(206, 206, 72);
  font-size: 35pt;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(206, 206, 72);
}
#secondary-address-chk-label {
  margin-left: 15px;
  font-weight: bolder;
  font-size: 12pt;
  color: rgb(192, 155, 31);
  font-style: italic;
}
#secondary-address-chk {
  height: 1rem;
  width: 1rem;
}
#resetBtn {
  margin-left: 10px;
}
